

// root variables - style 

$blue: #4e73b7;
$white: #FFFFFF;
$gray: #f3f6f8;
$green: #2aa527;
$black: #000000;
$blue-lite:#6495ed;
$font-14px: 14px;
$font-18px: 18px;
$font-22px: 22px;
$font-26px: 26px;
$font-36px: 36px;
$font-42px: 42px;
$gap-pc: 35px;
$gap-mobile: 20px;
$border-radius: 5px;
