.main {
    &-contact {
        padding: 100px 0;
    }
}
.contact {
    &-info__body {
        display: inline-flex;
        flex-direction: column;
        gap: $gap-pc;
        max-width: 540px;
    }
    &-body {
        text-align: start;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    &-info {
        display: inline-flex;
        flex-direction: column;
        background-color: $white;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        filter: drop-shadow(2px 4px 6px $black);
        border-radius: $border-radius;
    }
    &-telephone , &-email {
        color: $black !important; // change only color text
    }
    &-img {
        max-height: 400px;
        animation-name: leftBlockOpacity;
        animation-duration: 0.8s;
        animation-timing-function: linear;
    }
}

@media screen and (max-width: 1200px) {
    .contact {
        &-body {
            flex-direction: column-reverse;
            gap: 50px;
            align-items: center;
        }
        &-info {
            max-width: 610px;
        }
        &-info__body { 
            padding: 0 10px;
        }
    }
    
}


